* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #F5F5F5;
}

ul,
ol {
    list-style-type: none;
}

.container {
    max-width: 720px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 10px;
}